<!doctype html>
<html>
    <head>
        <title>Primer web App</title> <meta charset="utf-8">
        
            <link rel="stylesheet" href="{{ url_for('static', filename='style/registro.css') }}">
            <link rel="stylesheet" href="../../static/style/registro.css" type="text/css">
            <meta name="viewport"
                content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
            <script src="https://kit.fontawesome.com/d604a8edc1.js" crossorigin="anonymous"></script>
        
    </head>
    <body>

        <div class="contenedor" id="container">
            <header>
                                                  
                
                <img src="{{url_for('static', filename='media/logo_johana2.png')}}" align="left"><img src="{{url_for('static', filename='media/python-5.svg')}}" align="right">
                <h1>
                    <center>Registro exitoso de la base de datos</center>
                </h1>
                <h2>
                    <center>Se completó la base de datos proveniente de la url: "https://jsonplaceholder.typicode.com/todos".</center>
                </h2>

            </header>
        </div>
        <footer class="pie">
                
            <p><span style="font-size: 100%; color:  hsl(194, 99%, 44%);">
                    <i class="fas fa-university"></span></i></span> Dirección: Puerto Madryn. CP9120 - Chubut-
                Argentina </span> <span
                    style="font-size: 100%; color:  hsl(278, 99%, 44%);">
                    </span> E-mail: johanarang@hotmail.com</p>

        </footer>
    </body>
</html>  
